  *{mrgin:0px; padding:0px; box-sizing: border-box;}
      html{
        height:100%;
      }
      body{
        font-family:open sans, Arial, sans-serif;
        margin:0;
        height:100%;
      }
/* nav style */
      nav{
        position:fixed;
        background-color:#036;
        width:250px;
        top:0;
        left:-250px;
        height:100%;
        transition:1s;
          z-index: 10;
      }
      nav ul{
        list-style: none;
        margin-top:50px;
      }
      nav ul li a {
        text-decoration:none;
        color:antiquewhite;
        display:block;
        padding:20px 10px;
      }
     nav ul h2{

        font-weight: bold;
        color: aliceblue;
        text-align: center;
     }
      nav ul li :hover{
        color:cornflowerblue ;
        text-decoration:none;
        }
      .nav-toggle-btn{
        display:block;
        width:80px;
        height:50px;
        background-color:#ccc;
        opacity: 0.8;
        position:absolute;
        left:250px;
        text-align:center;
        line-height:40px;
          border-radius: 20%;
          cursor: pointer;
      }
        .nav-toggle-btn i{
          color:#000;
            font-size: 28px;
            padding-top: 10px;
        }

      .animatedMenu{
        left:0px;
      }
/* --------------------------------------------*/
    /* container */
    header {
      height: 100%;
      position: relative;
      overflow: hidden;
      background: url(background.jpg) center no-repeat;
      background-size: cover;
    }
    header .content {
     width: 400px;
    height: 300px;
      position: absolute;
      top:10%;
      left:60%;
      z-index: 1;
    background-color: yellow;
    opacity: 0.9;
    border:none;
    text-align: center;
    padding: 80px;
    border-radius: 70px 70px 70px 0;
        display: none;
    }
    header h1, header h2 {
        font-weight: bold;
        font-size: 50px;
        
    }
    header h2 {
      text-transform: uppercase;
      margin-top: -.5em;
    }

    header .end {
    width: 300px;
     height: 200px;
      position: absolute;
      left: 10%;
      bottom: 10%;;
      background-size: cover;
      background-color: black;
      opacity: 0.7;
        box-shadow: 5px 5px 5px 5px ;
        border: 2px solid black;
        text-align-last: center;
        padding-top: 60px;
    }
.end h3{
    font-weight: bold;
    color: darkgrey
}
@media (max-width: 576px) { 
    header .content{
        width: 30%;
        height: 15%;
        right: 0;
        top: 10%;
        padding: 0px;
        padding-top: 30px;
    }
    header .content h1{
        font-size: 22px
    }
     header .end{
        width: 30%;
        height: 10%;
        padding-top: 10px;
         left:0px;
         text-align: center;
    }
     header .end h3{
        font-size: 20px
    }
   
}


@media (max-width: 768px) {
 header .content{
        width: 45%;
        height: 15%;
        left: 55%;
        top: 10%;
        padding: 0px;
        padding-top: 50px;
     
}
     header .content h1{
        font-size: 22px
    }
    header .end{
        width: 30%;
        height: 10%;
        padding-top: 10px;
        text-align: center;
    }
     header .end h3{
        font-size: 20px
    }
}

@media (max-width: 1000px) { 
    header .content{
        width: 47%;
        height: 15%;
        right: 110px;
        top: 10%;
        padding: 0px;
        padding-top: 30px;
    }
    header .content h1{
        font-size: 30px
    }
     header .end{
        width: 28%;
        height: 10%;
        padding-top: 10px;
         text-align: center;
    }
     header .end h3{
        font-size: 12px
    }
}
/*------------------------------------*/
/*  h1 h2 p img in container  */
.heading{
    font-weight: bold;
}
.prag{
    font-size: 16px;
}
.img1{
    padding: 20px;
    padding-top: 100px;
}
#uses h2{
    font-size: 25px;
}
/* ----------------*/
/*  footer */
footer{
    border-top: 2px solid #003366;
    background-color:#036;
    color: azure;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: aliceblue;
}
footer img{
    padding-right: 10px;
}
/*  scroll top */
.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}
/* --------------------*/

